@media screen and (max-width: 1400px) {
    main, .conteiner {
        margin: 0 8vh;
    }
}

@media screen and (max-width: 800px) {
    main, .conteiner {
        margin: 0 3vh;
    }

    .boxes {
        flex-wrap: wrap;
    }
    .boxes .box-1, .boxes .box-2 {
        flex-direction: row;
    }

    .box-image {
        width: 400px;
    }
    .box-1 .box-text, .box-2 .box-text {
        padding: 0 20px;
    }


    .footer .footer-map {
        width: 60%;
        height: 250px;
        border-radius: 1rem;
        border: none;
    }
}

@media screen and (max-width: 550px) {
    main, .conteiner {
        margin: 0 2vh;
    }

    .conteiner .slide {
        height: 30vh;
    }

    .box-1 .box-image, .box-2 .box-image {
        width: 200px;
    }

    .boxes .box-1 p, .boxes .box-2 p {
        font-size: 12px;        
        margin: 10px 0 20px;
    }

    .box-1 .box-text, .box-2 .box-text {
        padding: 0 20px;
    }

}

@media screen and (max-width: 460px) {
    .boxes .box-1 p, .boxes .box-2 p {
        font-size: 11px;        
        margin: 10px 0 20px;
    }

    .box-1 .box-text, .box-2 .box-text {
        padding: 0 20px;
    }

    footer .footer {
        flex-wrap: wrap;
    }

    .footer .footer-map {
        width: 100%;
        height: 200px;
        border-radius: 1rem;
        border: none;
    }

    .footer-text-box {
        width: 50%;
    }

    .footer .footer-elements {
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

}



@media screen and (max-width: 460px) {
    .footer-text-box {
        width: 100%;
    }

    .footer-text, .footer-text-box, .footer-social-medias, .footer-icons {
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}


/*----------------- Header -----------------*/
.header {
    height: 85px;
    width: 100%;
    display: flex;

    box-shadow: 0 0.1px 30px rgb(119, 119, 119);
    background-color: #fff;
    position: fixed;
    z-index: 2;
    top: 0;
}
