@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('./mediarules.css');


/*----------------- General -----------------*/
* {
    font-family: 'roboto';
    text-decoration: none;
    margin: 0;
    padding: 0;
}

main, .conteiner {
    margin: 0 auto;
    max-width: 1200px;
}




.header-itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/*----------------- Config spaces between content -----------------*/
#conteiner {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 6vh;
}




/*----------------- Slide -----------------*/
.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    background-color: #51D275;
    height: 40vh;
}

.slide-image {
    object-fit:cover;
    max-width: 100%;  
    height: 100%;
}

.slide-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
}

.slide-button {
    margin: 0 20px;
    width: 40px;
    height: 40px;
}



/*----------------- Boxes -----------------*/
.boxes {
    display: flex;
    padding: 50px 0;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.box-1, .box-2{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 100%;
}

.box-text {
    padding: 0 2em;
}

.box-text h3 {
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    font-weight: 700;
}

.box-text-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-1 p, .box-2 p{
    text-align: justify;
    font-size: 14px;
    margin: 20px 0 30px;
    color: #575757;
}

.box-image {
    object-fit: cover;
    width: auto;
    max-width: 100%;
}


/*-------------------- Tag --------------------*/
.tag {
    color: white;
    padding: 5px 5%;
    font-size: 15px;
    border-radius: 50px;
    margin: 17px 0px 0px;
}

.tag-sale {
    background-color: #DC9730;
}

.tag-new {
    background-color: #51D275;
}




/*----------------- Lists -----------------*/
h2 {
    padding-bottom: 3vh;
}

.list-title {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    color: #7e7e7e;
}

.list-conteiner {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #333333;
}

.list-text {
    position: absolute;
    z-index: 1;
    color: #fff;  
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 1px 0px 5px rgb(0, 0, 0);
}

.list-item:hover {
    filter: blur(1px);
    transform: scale(1.1);

}

.list-item {
    transition: 0.6s;
    opacity: 50%;
}

.list-image {
    display: absolute;
    position: relative;
    display: flex;
    width: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 170px;
    object-fit: cover;
}





/*----------------- Footer -----------------*/
footer {
    width: 100%;
    height: 140%;
    background-color: #333333;
    padding: 5vh 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
}

.footer-map {
    width: 450px;
    height: 300px;
    border-radius: 1rem;
    border: none;
}


.footer-text {
    flex-direction: column;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    line-height: 15px;
    color: #fff;
    text-decoration: none;
}


.footer-text-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-elements {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/*----------------- Footer Icons -----------------*/
.footer-social-medias {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-icons{
    display: flex;
    align-items: ;
    gap: 10px;
}

.footer-icon-instagram {
    width: 20px;
    height: 20px;
    background-image: url("./assets/icon-instagram.png");
    object-fit: contain;
}

.footer-icon-facebook {
    width: 20px;
    height: 20px;
    background-image: url("./assets/icon-facebook.png");
    object-fit: contain;
}

.footer-icon-whatsapp {
    width: 20px;
    height: 20px;
    background-image: url("./assets/icon-whatsapp.png");
    object-fit: contain;
}


