@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*----------------- General -----------------*/
* {
    font-family: 'roboto';
    text-decoration: none;
    margin: 0;
    padding: 0;
}

main, .conteiner {
    margin: 0 auto;
    max-width: 800px;
    
}

@media screen and (max-width: 1000px) {
    main, .conteiner {
        margin: 0 8vh;
    }
}

@media screen and (max-width: 800px) {
    .boxes {
        flex-wrap: wrap;
    }
    .boxes .box-1, .boxes .box-2 {
        flex-direction: row;
    }
    main, .conteiner {
        margin: 0 3vh;
    }
    .box-image {
        width: 400px;
    }
    .box-1 .box-text, .box-2 .box-text {
        padding: 0 20px;
    }
}

@media screen and (max-width: 550px) {
    main, .conteiner {
        margin: 0 2vh;
    }

    .box-1 .box-image, .box-2 .box-image {
        width: 200px;
    }

    .boxes .box-1 p, .boxes .box-2 p {
        font-size: 12px;        
        margin: 10px 0 20px;
    }

    .box-1 .box-text, .box-2 .box-text {
        padding: 0 20px;
    }
    .image-footer {
        
    }
}

@media screen and (max-width: 460px) {
    .boxes .box-1 p, .boxes .box-2 p {
        font-size: 11px;        
        margin: 10px 0 20px;
    }

    .box-1 .box-text, .box-2 .box-text {
        padding: 0 20px;
    }

    .footer {
        flex-wrap: wrap;
    }
}


/*----------------- Header -----------------*/
.header {
    height: 60px;
    width: 100%;
    display: flex;

    box-shadow: 0 0.1px 30px rgb(119, 119, 119);
    background-color: #fff;
    position: fixed;
    z-index: 2;
    top: 0;
}



.header-itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/*----------------- Config spaces between content -----------------*/
#conteiner {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 6vh;
}




/*----------------- Slide -----------------*/
.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    width: 100%;
}

.slide-image {
    width: 100%;  
}

.slide-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
}

.slide-button {
    margin: 0 20px;
    width: 40px;
    height: 40px;
}



/*----------------- Boxes -----------------*/
.boxes {
    display: flex;
    padding: 50px 0;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.box-1, .box-2{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 100%;
}

.box-text {
    padding: 0 2em;
}

.box-text h3 {
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    font-weight: 700;
}

.box-text-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-1 p, .box-2 p{
    text-align: justify;
    font-size: 14px;
    margin: 20px 0 30px;
    color: #575757;
}

.box-image {
    object-fit: cover;
    width: auto;
    max-width: 100%;
}


/*-------------------- Tag --------------------*/
.tag {
    color: white;
    padding: 5px 5%;
    font-size: 15px;
    border-radius: 50px;
    margin: 17px 0px 0px;
}

.tag-sale {
    background-color: #DC9730;
}

.tag-new {
    background-color: #51D275;
}




/*----------------- Lists -----------------*/
h2 {
    padding-bottom: 3vh;
}

.list-title {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    color: #7e7e7e;
}

.list-conteiner {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #333333;
}

.list-text {
    position: absolute;
    z-index: 1;
    color: #fff;  
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 1px 0px 5px rgb(0, 0, 0);
}

.list-item:hover {
    filter: blur(1px);
    transform: scale(1.1);

}

.list-item {
    transition: 0.6s;
    opacity: 50%;
}

.list-image {
    display: absolute;
    position: relative;
    display: flex;
    width: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 170px;
    object-fit: cover;
}





/*----------------- Footer -----------------*/
footer {
    width: 100%;
    height: 140%;
    background-color: #333333;
    padding: 5vh 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
}

.footer-map {
    width: 100%;
}


.footer-text {
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    text-decoration: none;
}


.footer-text-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
}





